/* Base16-ocean inspired style for Waybar */

* {
  font-family: Liberation Mono, FontAwesome;
  /* font-size: 14px; */
  font-weight: normal;
}

tooltip {
  padding: 8px;
  background-color: #2b303b;
  border: 1px solid #eff1f5;
  border-radius: 0;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  color: #2b303b;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0;
}

#clock,
#pulseaudio,
#network,
#battery,
#bluetooth,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#idle_inhibitor,
#trayicons,
#tray,
#power-profiles-daemon,
#upower,
#custom-hyprshade {
  min-width: 28px;
  padding-left: 4px;
  padding-right: 4px;

  background-color: #2b303b;
  color: #eff1f5;
  border-radius: 0;
  border: none;
}

#custom-launcher:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#custom-notificationcenter:hover,
#custom-powermenu:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#upower:hover,
#custom-hyprshade:hover {
  background-color: #62737f;
}

#clock {
  padding-left: 12px;
  padding-right: 10px;
}

#clock.date {
  padding-left: 10px;
  padding-right: 12px;
}

#tray {
  color: #eff1f5;
}

#power-profiles-daemon {
}

#power-profiles-daemon.power-saver {
  color: #98c38c;
}

#power-profiles-daemon.performance {
  color: #efcd86;
}

#custom-notificationcenter {
}

#pulseaudio {
}

#pulseaudio.muted {
  color: #ce5564;
}

#workspaces {
  padding: 0px;
  background: #2b303b;
  border: none;
}

#workspaces button {
  padding: 0 14px;
  background: none;
  color: #eff1f5;
  border-radius: 0;
  border: none;
  transition: none;
  box-shadow: none;
}

#workspaces button:hover {
  background: #62737f;
  text-shadow: none;
  border: none;
}

#workspaces button.active {
  background: #8ca1b4;
  color: #2b303b;

  border-radius: 0;
  border: none;
}

#custom-launcher {
  background-color: #98c38c;
  color: #2b303b;

  padding-left: 20px;
  padding-right: 20px;
}

#custom-launcher:hover {
  background: #b4d6ac;
}

#custom-launcher:active {
  background-color: #ce5564;
}

#custom-powermenu {
  background-color: #ce5564;
  color: #2b303b;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-powermenu:hover {
  background-color: #d8848e;
}
