/* Base16-ocean inspired style for Waybar */

@import "./colors.css";

* {
  font-family: Liberation Mono, FontAwesome;
  font-size: 14px;
  font-weight: normal;
}

tooltip {
  padding: 8px;
  background-color: @bg0;
  border: 1px solid @fg;
  border-radius: 0;
}

window#waybar {
  background-color: transparent;
  color: @bg0;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0;
}

#tray {
  color: @fg;
}

#power-profiles-daemon {
  padding-left: 4px;
  min-width: 24px;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#custom-launcher,
#clock,
#workspaces,
#pulseaudio,
#network,
#battery,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#idle_inhibitor,
#trayicons {
  background-color: @bg0;
  color: @fg;

  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0;
}

#clock {
  padding-left: 16px;
}

#clock.date {
  padding-left: 8px;
  padding-right: 16px;
}

#pulseaudio:hover,
#custom-notificationcenter:hover,
#trayicons:hover {
  background-color: @bg3;
}

#custom-notificationcenter {
  padding-left: 12px;
  padding-right: 12px;
}

#pulseaudio {
  /* min-width: 54px; */
}

#pulseaudio.muted {
  color: @red;
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  padding: 0 14px;
  background: none;
  color: @fg;
  border-radius: 0;
  border-width: 0;
  transition: none;
}

#workspaces button:hover {
  background-color: @bg3;
  text-shadow: none;
  border: none;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;

  border-radius: 0;
}

#workspaces button:first-child {
}

#workspaces button:last-child {
}

#custom-launcher {
  background-color: @green;
  color: @bg0;

  padding-left: 20px;
  padding-right: 20px;
}

#custom-launcher:hover {
  background: #b4d6ac;
}

#custom-launcher:active {
  background-color: @red;
}

#custom-powermenu {
  background-color: @red;
  color: @bg0;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-powermenu:hover {
  background-color: #d8848e;
}