/* Base16-ocean inspired style for Waybar */

@import "./colors.css";

* {
  font-family: Liberation Mono, FontAwesome;
  font-size: 14px;
  font-weight: normal;
}

tooltip {
  padding: 8px;
  background-color: @bg0;
  border: 1px solid @fg;
  border-radius: 0;
}

window#waybar {
  background-color: transparent;
  color: @bg0;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0;
}

#clock,
#pulseaudio,
#network,
#battery,
#bluetooth,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#idle_inhibitor,
#trayicons,
#tray,
#power-profiles-daemon,
#upower,
#custom-hyprshade {
  min-width: 28px;
  padding-left: 4px;
  padding-right: 4px;

  background-color: @bg0;
  color: @fg;
  border-radius: 0;
}

#custom-launcher:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#custom-notificationcenter:hover,
#custom-powermenu:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#upower:hover,
#custom-hyprshade:hover {
  background-color: @bg3;
}

#clock {
  padding-left: 12px;
  padding-right: 10px;
}

#clock.date {
  padding-left: 10px;
  padding-right: 12px;
}

#tray {
  color: @fg;
}

#power-profiles-daemon {
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#custom-notificationcenter {
}

#pulseaudio {
  padding-left: 8px;
  padding-right: 8px;
}

#pulseaudio.muted {
  color: @red;
}

#workspaces {
  padding: 0px;
  background-color: @bg0;
}

#workspaces button {
  padding: 0 14px;
  background: none;
  color: @fg;
  border-radius: 0;
  border-width: 0;
  transition: none;
}

#workspaces button:hover {
  background-color: @bg3;
  text-shadow: none;
  border: none;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;

  border-radius: 0;
}

#custom-launcher {
  background-color: @green;
  color: @bg0;

  padding-left: 20px;
  padding-right: 20px;
}

#custom-launcher:hover {
  background: #b4d6ac;
}

#custom-launcher:active {
  background-color: @red;
}

#custom-powermenu {
  background-color: @red;
  color: @bg0;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-powermenu:hover {
  background-color: #d8848e;
}
