/* Holo Night style for Waybar */

* {
  font-family: Liberation Mono, FontAwesome;
  /* font-size: 14px; */
  font-weight: normal;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

tooltip {
  padding: 8px;
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.1);
  font-size: 12px;
}

window#waybar {
  background: none;
  border: none;
  color: #eff1f5;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left, .modules-center, .modules-right {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background: rgba(43, 48, 59, 0.5);
}

#clock,
#custom-arrowleft,
#disk,
#mpris,
#pulseaudio,
#network,
#battery,
#bluetooth,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#custom-battery,
#idle_inhibitor,
#trayicons,
#tray,
#temperature,
#power-profiles-daemon,
#upower {
  margin: 2px;
  min-width: 28px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 6px;

  background-color: transparent;
  color: #eff1f5;
}

#custom-launcher:hover,
#custom-arrowleft:hover,
#clock:hover,
#disk:hover,
#mpris:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#custom-notificationcenter:hover,
#custom-powermenu:hover,
#custom-battery:hover,
#idle_inhibitor:hover,
#temperature:hover,
#power-profiles-daemon:hover,
#upower:hover {
  background-color: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4), inset 0 0 6px rgba(255, 255, 255, 0.2);
}

#bluetooth.connected {
  color: #afcfff;
  text-shadow: 0 0 6px #d1e3ff, 0 0 8px #7badff;
}

#clock {
  padding: 0 8px;
}

#clock.date {
}

#cpu.warning, #memory.warning, #disk.warning, #temperature.warning {
  color: rgb(255, 211, 154);
  text-shadow: 0 0 2px rgba(255, 211, 154, 0.5), 0 0 4px rgba(255, 211, 154, 0.5);
}

#cpu.critical, #memory.critical, #disk.critical, #temperature.critical {
  color: #ff9191;
  text-shadow: 0 0 2px rgba(255, 69, 69, 0.5), 0 0 4px rgba(255, 255, 255, 0.5);
}

#tray {
  color: #eff1f5;
}

#power-profiles-daemon {
}

#power-profiles-daemon.power-saver {
  color: #98c38c;
  text-shadow: 0 0 6px #98c38c;
}

#power-profiles-daemon.performance {
  color: #efcd86;
  text-shadow: 0 0 6px #efcd86;
}

#custom-notificationcenter {
}

#pulseaudio {
}

#pulseaudio.muted {
  color: #ffd5da;
  text-shadow: 0 0 3px #ffb5b5, 0 0 12px #ff0000;
}

#pulseaudio-slider {
  margin: 2px;
  padding: 0 4px;
  border: none;
}

#pulseaudio-slider slider {
  min-height: 0;
  min-width: 0;
  opacity: 0;
  border: none;

  background-image: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 4px;
  min-width: 48px;
  border: none;
  border-radius: 5px;

  background-color: rgba(255, 255, 255, 0.463);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.44);
}

#pulseaudio-slider highlight {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;

  background-color: #a9ff9a;
}

#mpris {

}

#workspaces {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  text-shadow: none;
}

#workspaces button {
  margin: 2px;
  padding: 0 12px;
  background: none;
  color: #eff1f5;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: none;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.612);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.4), inset 0 0 6px rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

#workspaces button.active {
  background-color: rgba(255, 128, 236, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.612);
  box-shadow: 0 0 2px rgba(255, 128, 236, 0.5), inset 0 0 6px rgba(255, 240, 253, 0.1);
  color: #eff1f5;
}

#workspaces .taskbar-window {
  opacity: 0.5;
}

#workspaces .taskbar-window.active {
  opacity: 1;
}

#custom-launcher {
  margin: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0);

  color: #eff1f5;
}

#custom-launcher:hover {
  border: 1px solid rgba(255, 255, 255, 0.612);
  background: rgba(164, 228, 150, 0.565);
  box-shadow: 0 0 2px rgba(164, 228, 150, 0.3), inset 0 0 6px rgba(209, 255, 199, 0.3);
}

#custom-powermenu {
  margin: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0);
  
  color: #eff1f5;
  font-size: 28px;
}

#custom-powermenu:hover {
  border: 1px solid rgba(255, 255, 255, 0.612);
  background: rgba(228, 150, 150, 0.565);
  box-shadow: 0 0 2px rgba(228, 150, 150, 0.3), inset 0 0 6px rgba(255, 199, 199, 0.3);
}
