/* Holo Night theme for Swaync */

button {
  font-size: initial;
  color: #eff1f5;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.612);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4), inset 0 0 6px rgba(255, 255, 255, 0.3);
}

button:active {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.612);
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  /* The panel of floating notifications */
  background: transparent;
  padding-right: 4px;
}

.notification-row {
  /* individual notification shown on the desktop */
  outline: none;
  transition: none;
}

.notification-row:focus, .notification-row:hover {
  background: transparent;
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .close-button {
  /* The notification Close Button */
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;

  color: #eff1f5;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: none;
}

.notification-row .notification-background .close-button:hover {
  background-color: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.612);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.notification-row .notification-background .notification {
  /* The actual notification */
  padding: 4px;

  background: rgba(43, 48, 59, 1);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}

.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action, .notification-row .notification-background .notification .notification-default-action {
  background-color: transparent;
}

.notification-row .notification-background .notification .notification-action:hover, .notification-row .notification-background .notification:hover {
  -gtk-icon-effect: none;
  background: rgb(59, 65, 79);
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 0;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-effect: none;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  /* Size in px */
  margin: 4px;
  margin-right: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-effect: none;
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: #eff1f5;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: #eff1f5;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: #eff1f5;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  border-radius: 0;
  -gtk-icon-effect: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: #42535f;
  color: purple;
  caret-color: #eff1f5;
  border: 1px solid #eff1f5;
  border-radius: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: #62737f;
  border: 1px solid #eff1f5;
  border-radius: 0;
  color: yellow;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: #90a0ab;
  border: 1px solid #eff1f5;
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: #90a0ab;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  border-top: 1px solid #eff1f5;
  border-radius: 0px;
  border-right: 1px solid #eff1f5;
}

.notification-row .notification-background .notification .notification-action:first-child {
  /* add bottom border radius to eliminate clipping */
  border-bottom-left-radius: 1px;
}

.notification-row .notification-background .notification .notification-action:last-child {
  border-bottom-right-radius: 1px;
  border-right: none;
}

.notification-group {
  /* Styling only for Grouped Notifications */
  border: none;
  background-color: transparent;
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Low Priority Group */
}

.notification-group.critical {
  /* Low Priority Group */
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
  margin: 0 16px;
  border: none;
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
  /* Icon of the group of notifications in the center */
  color: #eff1f5;
}

.notification-group .notification-group-headers .notification-group-header {
  /* Title of the notifications group in the center */
  color: #eff1f5;
  font-size: medium;
}

.notification-group .notification-group-buttons {
  /* Notification Group Buttons */
}

.notification-group.collapsed .notification-row .notification {
  /* background-color: #62737f; */
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Control center ―――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  margin: 0;
  padding: 0;
  margin-bottom: -15px;
  background: none;
  border: none;
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 0.3;
  spacing: 4px;
}

.control-center .control-center-list-placeholder image {
  pixel-size: 32px;
  -gtk-dpi: 32px;
}

.control-center .control-center-list {
  /* List of notifications */
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: none; /* Shadows here slow down the animations significantly */
  /* border: none; */
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: opacity 400ms ease-in-out, background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  /* background-color: #90a0ab; */
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Title widget ―――――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-title {
  margin: 0;
  padding: 16px 16px 8px 16px;

  color: #eff1f5;
  font-size: 1.5rem;
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― DND widget ―――――――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-dnd {
  margin: 0;
  padding: 8px 16px;

  color: #eff1f5;
  font-size: 1.1rem;
}

.widget-dnd > label {
  color: #eff1f5;
}

.widget-dnd > switch {
  font-size: initial;
  color: #eff1f5;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.widget-dnd > switch:checked {
  background: rgba(255, 128, 236, 0.5);
  box-shadow: 0 0 8px rgba(255, 128, 236, 0.5);
}

.widget-dnd > switch slider {
  background: #eff1f5;
  border-radius: 12px;
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Notifications widget ―――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-notifications {
  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Label widget ―――――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-label {
  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}

.widget-label > label {
  font-size: 1.1rem;
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Mpris widget ―――――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-mpris {
  /* The parent to all players */
  padding: 8px;
  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}

.widget-mpris > box > button {
  /* The buttons to select a player */
  background: none;
}

.widget-mpris .widget-mpris-player {
  padding: 16px;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

.mpris-background {
  opacity: 0;
}

.mpris-overlay {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

.widget-mpris .widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
}

.widget-mpris button {
  border-radius: 32px;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  border-radius: 0;
  box-shadow: none;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 1rem;
}

.widget-mpris .widget-mpris-player > box > button {
  /* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
}

.widget-mpris > box > button {
  /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Buttons widget ―――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-buttons-grid {
  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}

.widget-buttons-grid > flowbox > flowboxchild > button {
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  /* style given to the active toggle button */
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Menubar widget ―――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-menubar {
  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Volume widget ――――――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-volume {
  padding-right: 16px;
  padding-left: 24px;

  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}

.widget-volume > box > button {
  margin-left: 8px;
}

.widget-volume > box > button:hover {
}

/* right side of the bar */
.widget-volume scale trough {
  background-color: rgba(255, 255, 255, 0.463);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.44);
}

.widget-volume scale trough slider {
  background-color: #a9ff9a;
  box-shadow: 0 0 8px rgba(89, 255, 0, 0.538);
}

/* Left side of the bar */
.widget-volume scale trough highlight {
  background-color: #a9ff9a;
}

.per-app-volume {
  padding: 8px;
  margin: 8px;
  border-radius: 0;

  background: transparent;
}

.per-app-volume label {
  opacity: 0.3;
}

.per-app-volume row:hover {
  background: transparent;
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Backlight widget ―――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-backlight {
  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}


/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ―――― Inhibitors widget ――――――――――――――――――――――――――――――――――――――――― */
/* ////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.widget-inhibitors {
  background: rgba(43, 48, 59, 0.5);
  color: #eff1f5;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);

  font-size: 1.5rem;
}
