# This role defines tasks specific to Fedora (desktop environment)

- name: Enabling community repository solopasha/hyprland
  become: true
  community.general.copr:
    host: copr.fedorainfracloud.org
    state: enabled
    name: solopasha/hyprland

- name: Installing packages
  become: true
  ansible.builtin.dnf:
    state: latest
    name:
      # - audacious
      # - eog
      # - ffmpeg # In fedora, this may conflict with another package
      - gimp
      - heif-pixbuf-loader
      - inkscape
      - libheif-freeworld
      - libreoffice-langpack-fr
      - vlc

      # Hyprland desktop
      - alacritty
      - blueman
      - fontawesome-fonts-all
      - gnome-themes-extra
      - gtk-murrine-engine
      - hypridle
      - hyprland # In fedora 43, this may conflict with another package
      - hyprland-plugin-hyprexpo
      - hyprlock
      - hyprpaper
      - hyprpicker
      - hyprpolkitagent
      - hyprshot
      - hyprsunset
      - libnotify
      - network-manager-applet
      - pavucontrol
      # - qt5-qtwayland
      # - qt5ct
      # - qt6-qtwayland
      # - qt6ct
      - rofi
      - sassc
      - SwayNotificationCenter
      - thunar
      - waybar
      - wiremix
      - wlogout
      - xdg-desktop-portal-hyprland
