/* Cards Day style for Waybar */

* {
  font-family: Liberation Sans, FontAwesome;
  font-size: 14px;
  font-weight: normal;
}

tooltip {
  padding: 8px;
  background-color: #F7F1E3;
  color: #242320;
  border: 2px solid #5c5952;
  border-radius: 4px;
  box-shadow: 5px 5px 0 0 rgba(46, 53, 56, 0.333);
}

#waybar {
  background-color: transparent;
}

#waybar > box {
  margin: 0 5px 5px 0;
  padding: 0;
  border-radius: 4px;
  border: 2px solid #5c5952;
  background-color: #F7F1E3;
  box-shadow: 5px 5px 0 0 rgba(46, 53, 56, 0.333);
  color: #242320;
}

#clock,
#pulseaudio,
#network,
#battery,
#bluetooth,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#idle_inhibitor,
#trayicons,
#tray,
#power-profiles-daemon,
#upower,
#custom-hyprshade {
  margin: 2px 4px;
  padding: 3px 0;
  border: none;
  border-radius: 4px;
  background: none;
  color: #242320;
  transition: none;
}

#custom-launcher:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#bluetooth:hover,
#cpu:hover,
#memory:hover,
#custom-notificationcenter:hover,
#custom-powermenu:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#upower:hover,
#custom-hyprshade:hover {
  background-color: #D3C6EA;
  box-shadow: 2px 2px 0 0 rgba(46, 53, 56, 0.467);
}

#clock {
  margin-top: 4px;
  margin-bottom: 4px;
}

#clock.date {
  padding: 4px 0;
}

#tray .active * {
}

#power-profiles-daemon {
}

#power-profiles-daemon.power-saver {
  color: #9ECA99;
}

#power-profiles-daemon.performance {
  color: #C8AA72;
}

#custom-notificationcenter {
}

#pulseaudio {
  /* padding-left: 8px;
  padding-right: 8px; */
}

#pulseaudio.muted {
}

#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  margin: 2px 4px;
  padding: 2px 0;
  border: none;
  border-radius: 4px;
  background: none;
  color: #242320;
  transition: none;
}

#workspaces button:hover {
  background-color: #C6EAE6;
  box-shadow: 2px 2px 0 0 rgba(46, 53, 56, 0.467);
  text-shadow: none;
}

#workspaces button.active {
  background-color: #A0D4CF;
  box-shadow: 2px 2px 0 0 rgba(46, 53, 56, 0.467);
  color: #242320;
}

#custom-launcher-club {
  margin: 4px 4px 2px 4px;
  padding: 1px 4px;
  border: none;
  border-radius: 4px;
  background: none;
  color: #242320;
  transition: none;
  font-size: 24px;
}

#custom-launcher-club:hover {
  background-color: #a7daa1;
  box-shadow: 2px 2px 0 0 rgba(46, 53, 56, 0.467);
}

#custom-launcher-club:active {
  background-color: #00eeff;
  box-shadow: 2px 2px 0 0 rgba(46, 53, 56, 0.467);
}

#custom-powermenu {
  color: #242320;
  font-size: 28px;
}

#custom-powermenu:hover {
  background-color: #33ff00;
}
