# This role defines tasks specific to openSUSE (desktop environment)

- name: Installing packages
  become: true
  package:
    state: latest
    name:
      # - audacious
      # - eog
      # - ffmpeg # In fedora, this may conflict with another package
      - gimp
      - inkscape
      - vlc

      # Hyprland desktop
      - alacritty
      - blueman
      - fontawesome-fonts
      - gnome-themes-extras
      - gtk2-engine-murrine
      - hypridle
      - hyprland
      - hyprland-guiutils
      - hyprlock
      - hyprpaper
      - hyprpicker
      - hyprpolkitagent
      - hyprshot
      - hyprsunset
      - libnotify
      - NetworkManager-applet
      - pavucontrol
      # - qt5-qtwayland
      # - qt5ct
      # - qt6-qtwayland
      # - qt6ct
      - rofi
      - SwayNotificationCenter
      - thunar
      - waybar
      # - wiremix
      - wlogout
      - xdg-desktop-portal-hyprland
