# This role defines tasks specific to Ubuntu (CLI environment)

- name: Installing packages
  become: true
  ansible.builtin.apt:
    name:
      - btop
      - cmatrix
      - fastfetch
      - git
      - htop
      - lolcat
      - most
      - ncdu
      # - p7zip-full # Dangerously outdated, do not install
      - pv
      - pwgen
      - ranger
      # - screenfetch
      - sloccount
      - tmux
      - toilet
      - vim
      - zsh
    state: present

- name: Removing packages
  become: true
  ansible.builtin.apt:
    name:
      - fonts-beng
      - fonts-beng-extra
      - fonts-deva
      - fonts-deva-extra
      - fonts-gargi
      - fonts-gubbi
      - fonts-gujr
      - fonts-gujr-extra
      - fonts-guru
      - fonts-guru-extra
      - fonts-indic
      - fonts-kacst
      - fonts-kacst-one
      - fonts-kalapi
      - fonts-khmeros-core
      - fonts-knda
      - fonts-lao
      - fonts-lato
      - fonts-lklug-sinhala
      - fonts-lohit*
      - fonts-mlym
      - fonts-nakula
      - fonts-navilu
      - fonts-noto-cjk
      - fonts-orya
      - fonts-orya-extra
      - fonts-pagul
      - fonts-sahadeva
      - fonts-samyak*
      - fonts-sarai
      - fonts-sil-abyssinica
      - fonts-sil-padauk
      - fonts-smc*
      - fonts-taml
      - fonts-telu
      - fonts-telu-extra
      - fonts-teluguvijayam
      - fonts-thai-tlwg
      - fonts-tibetan-machine
      - fonts-tlwg*
      - fonts-yrsa-rasa
    state: absent

- name: Changing shell to zsh
  become: true
  user:
    name: "{{ ansible_facts['user_id'] }}"
    shell: /bin/zsh
