/* Summer night colors for Wlogout */

@define-color bg_dim #232A2E;
@define-color bg0 #2D353B;
@define-color bg1 #343F44;
@define-color bg2 #3D484D;
@define-color bg3 #475258;
@define-color bg4 #4F585E;
@define-color bg5 #56635f;
@define-color bg_visual #543A48;
@define-color bg_red #514045;
@define-color bg_green #425047;
@define-color bg_blue #3A515D;
@define-color bg_yellow #4D4C43;
@define-color fg #D3C6AA;
@define-color red #E67E80;
@define-color orange #E69875;
@define-color yellow #DBBC7F;
@define-color green #A7C080;
@define-color aqua #83C092;
@define-color blue #7FBBB3;
@define-color purple #D699B6;
@define-color grey0 #7A8478;
@define-color grey1 #859289;
@define-color grey2 #9DA9A0;

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.3);
}

button {
	margin: 64px 0;
	border-radius: 0;
    border: none;
	text-decoration-color: @fg;

	color: @fg;
	background-color: @bg3;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;

	border-color: @bg_dim;
	border-style: solid;
	border-width: 0 0 8px 0;
}

button:first-child {
	border-radius: 64px 0 0 64px;
}

button:last-child {
	border-radius: 0 64px 64px 0;
}

button:hover {
	margin: 0;
	border-radius: 64px;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
	color: @bg0;
	/* background-size: 20%; */ /* Too laggy with a SVG */
}

button:focus, button:active {
	outline: 3px solid @statusline1;
}

#logout {
    background-image: image(url("/usr/share/wlogout/assets/logout.svg"), url("/usr/local/share/wlogout/assets/logout.svg"));
}

#logout:hover {
	background-color: @blue;
	border-color: @bg_blue;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/assets/suspend.svg"), url("/usr/local/share/wlogout/assets/suspend.svg"));
}

#suspend:hover {
	background-color: @green;
	border-color: @bg_green;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/assets/shutdown.svg"), url("/usr/local/share/wlogout/assets/shutdown.svg"));
}

#shutdown:hover {
	background-color: @red;
	border-color: @bg_red;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/assets/reboot.svg"), url("/usr/local/share/wlogout/assets/reboot.svg"));
}

#reboot:hover {
	background-color: @yellow;
	border-color: @bg_yellow;
}
