/* Base16-ocean inspired style for Wofi */

@import ".config/mydesktop/current-theme/wofi/colors.css";

* {
    font-family: Liberation Sans, FontAwesome;
    font-size: 17px;
    border-radius: 0;
    border: none;
    color: @bg0;
}

window {
    margin: 0px;
    background-color: @bg0;
    color: @fg;

	border-radius: 0;
    border: 4px solid @grey2;
}

#outer-box {
    margin: 0px;
    border-radius: 0px;
    padding-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#input {
    background-color: @bg2;
    color: @grey2;

    margin: 15px;
    padding: 1px 12px;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
}

#input image {
    color: @grey2;
    margin-right: 10px;
}

#inner-box {
    margin: 20px;
    padding: 0px;
    border-radius: 0px;
    background-color: #00000000;
}

#scroll {
    margin: 0px;
    padding: 0px;
    border: none;
}

#text {
    margin-left: 15px;
    margin-right: 15px;
    color: @fg;
}

#entry {
    border: none;
    padding: 2px;
    margin: 0px;
}

#entry:selected {
    background-color: @bg2;
    color: @fg;
    border: 1px solid @grey0;
    outline: none;
    padding-left: 1px;
    border-radius: 2px;
}

#entry:selected #text {
    color: @fg;
}
