/* Cards Day theme for Swaync */

@define-color noti-bg-focus #637582;
@define-color noti-close-bg #2b303b;
@define-color noti-close-bg-hover #ce5564;
@define-color text-color #242320;
@define-color cc-text-color #242320;
@define-color text-color-disabled #90a0ab;
@define-color bg-selected #ce5564;

@define-color bg_dim #2b303b;
@define-color bg0 #F7F1E3;
@define-color bg1 #A0D4CF;
@define-color bg2 #A0D4CF;
@define-color bg3 #A0D4CF;
@define-color bg4 #90a0ab;
@define-color bg5 #90a0ab;
@define-color bg_visual #543a48;
@define-color bg_red #514045;
@define-color bg_green #425047;
@define-color bg_blue #3a515d;
@define-color bg_yellow #4d4c43;
@define-color fg #eff1f5;
@define-color red #ce5564;
@define-color orange #dc8269;
@define-color yellow #efcd86;
@define-color green #98c38c;
@define-color aqua #A0D4CF;
@define-color blue #8ca1b4;
@define-color purple #bd88ac;
@define-color orange2 #b47662;
@define-color grey0 #42535f;
@define-color grey1 #62737f;
@define-color grey2 #90a0ab;


.notification-row {
  outline: none;
}

.notification-row:focus, .notification-row:hover {
  background: @noti-bg-focus;
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .close-button {
  /* The notification Close Button */
  min-width: 24px;
  min-height: 24px;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;

  border: none;
  border-radius: 100%;
  background: @noti-close-bg;
  color: @text-color;
  text-shadow: none;
  box-shadow: none;
}

.notification-row .notification-background .close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: background 0.15s ease-in-out;
  border: none;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  padding: 4px;

  background-color: @bg0;
  border: 2px solid #5c5952;
  border-radius: 4px;
  box-shadow: 5px 5px 0 0 rgba(46, 53, 56, 0.333);
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-action, .notification-row .notification-background .notification .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: red;
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-action:hover, .notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-effect: none;
  background: @grey2;
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  border-radius: 0;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 0;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-effect: none;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  /* Size in px */
  margin: 4px;
  margin-right: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-effect: none;
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  border-radius: 0;
  -gtk-icon-effect: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: @grey0;
  color: purple;
  caret-color: @text-color;
  border: 1px solid @fg;
  border-radius: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: @grey1;
  border: 1px solid @fg;
  border-radius: 0;
  color: yellow;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid @fg;
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: @grey2;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  border-top: 1px solid @fg;
  border-radius: 0px;
  border-right: 1px solid @fg;
}

.notification-row .notification-background .notification .notification-action:first-child {
  /* add bottom border radius to eliminate clipping */
  border-bottom-left-radius: 1px;
}

.notification-row .notification-background .notification .notification-action:last-child {
  border-bottom-right-radius: 1px;
  border-right: none;
}

.notification-group {
  /* Styling only for Grouped Notifications */
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Low Priority Group */
}

.notification-group.critical {
  /* Low Priority Group */
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
  margin: 0 16px;
  color: lime;
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
  /* Icon of the group of notifications in the center */
  color: @cc-text-color;
}

.notification-group .notification-group-headers .notification-group-header {
  /* Title of the notifications group in the center */
  color: @cc-text-color;
}

.notification-group .notification-group-buttons {
  /* Notification Group Buttons */
}

.notification-group.collapsed .notification-row .notification {
  background-color: @grey1;
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: @grey2;
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  margin: 16px;
  background: @bg0;
  color: @cc-text-color;
  border: 2px solid #5c5952;
  border-radius: 4px;
  box-shadow: 5px 5px 0 0 rgba(46, 53, 56, 0.333);
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 0.5;
}

.control-center .control-center-list {
  /* List of notifications */
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: none; /* Shadows here slow down the animations significantly */
  border: none;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: opacity 400ms ease-in-out, background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: @grey2;
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

/*** Widgets ***/
/* Title widget */
.widget-title {
  margin: 16px 16px 8px 16px;
  color: @cc-text-color;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: initial;
  color: @text-color;
  text-shadow: none;
  background: @grey1;
  border: none;
  border-radius: 0;
}

.widget-title > button:hover {
  background: @grey2;
}

/* DND widget */
.widget-dnd {
  color: @cc-text-color;
  margin: 8px 16px 8px 16px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: @grey1;
  border: none;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @red;
}

.widget-dnd > switch slider {
  background: @grey2;
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
  box-shadow: none;
  border-radius: 0;
  background: none;
}

.widget-mpris .widget-mpris-player {
  padding: 8px;
  padding: 16px;
  margin: 16px 20px;
  border-radius: 0;
  box-shadow: none;
  background: none;
}

.widget-mpris .widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: @grey2;
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
  border-radius: 0;
  box-shadow: none;
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
  font-size: 1rem;
}

.widget-mpris .widget-mpris-player > box > button {
  /* Change player control buttons */
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background-color: rgba(0, 0, 0, 0.50);
}

.widget-mpris > box > button {
  /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 0;
  background-color: @grey1;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @grey1;
  border-radius: 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  /* style given to the active toggle button */
}

/* Menubar widget */
.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

/* .AnyName { Name defined in config after #
  background-color: @grey1;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: @grey2;
} */
.topbar-buttons > button {
  /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Volume widget */
.widget-volume {
  background-color: transparent;
  padding: 8px;
  margin: 8px 16px;
  border-radius: 0;
}

.widget-volume > box > button {
  border: none;
  box-shadow: none;
}

.widget-volume > box > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* right side of the bar */
.widget-volume scale trough {
}

.widget-volume scale trough slider {
  /* border-color: @blue; */
  outline-color: @blue;
  text-decoration-color: @blue;
  box-shadow: inset 0 0 0 2px @blue;
}

/* Left side of the bar */
.widget-volume scale trough highlight {
  border: 1px solid @blue;
}

.per-app-volume {
  background-color: @grey0;
  padding: 4px 8px 8px 8px;
  margin: 8px 8px 8px 8px;
  border-radius: 0;
}

/* Backlight widget */
.widget-backlight {
  background-color: @grey1;
  padding: 8px;
  margin: 8px;
  border-radius: 0;
}

/* Inhibitors widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: red;
  text-shadow: none;
  background: @grey1;
  border: 1px solid @fg;
  box-shadow: none;
  border-radius: 0;
}

.widget-inhibitors > button:hover {
  background: @grey2;
}
