/* Summer day style for Waybar */

* {
  font-family: Liberation Mono, FontAwesome;
  font-weight: bold;
}

tooltip {
  padding: 16px;
  border-radius: 15px;
  background-color: #fdf6e3;
  border: 3px solid #5c6a72;
  color: #5c6a72;
  font-size: 12px;
}

window#waybar {
  background-color: #5c6a72;
  color: #fdf6e3;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0px 0px 15px 15px;
  font-size: 16px;

  border-bottom-width: 5px;
  border-bottom-color: #2e3538;
  border-bottom-style: solid;
}

#tray {
  color: #5c6a72;
  margin-top: 2px;
  margin-right: 4px;
}

#power-profiles-daemon {
  min-width: 24px;
}

#power-profiles-daemon.power-saver {
  color: #8da101;
}

#power-profiles-daemon.performance {
  color: #dfa000;
}

#custom-launcher,
#clock,
#workspaces,
#pulseaudio,
#network,
#backlight,
#battery,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#idle_inhibitor,
#power-profiles-daemon,
#temperature,
#tray,
#trayicons {
  background-color: #fdf6e3;
  color: #5c6a72;

  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
	border-radius: 10px;

  border-bottom-width: 5px;
  border-bottom-color: #bdc3af;
  border-bottom-style: solid;
}

#custom-launcher:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#custom-notificationcenter:hover,
#custom-powermenu:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#temperature:hover,
/* #tray:hover, */
#trayicons:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

#pulseaudio.muted {
  color: #f85552;
}

#workspaces {
  padding: 0;
  background: none;
  border: none;
}

#workspaces button {
  background-color: #fdf6e3;
  color: #5c6a72;
  border-radius: 0;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #bdc3af;
  transition: none;
}

#workspaces button:hover {
  background-color: #FDF6E3;
  text-shadow: none;
  margin-top: -2px;
  border-bottom-width: 7px;
  border-bottom-color: #BDC3AF;
}

#workspaces button.active {
  background-color: #3a94c5;
  color: #fdf6e3;

	border-radius: 0;
  border-color: #1c4a62;
}

#workspaces button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#custom-launcher {
  background-color: #8da101;
  color: #fdf6e3;
  border-bottom-color: #465000;

  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-launcher:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

#custom-launcher:active {
  background-color: #f85552;
  margin-top:12px;
  border-bottom-width: 0;
}

#custom-powermenu {
  background-color: #f85552;
  color: #fdf6e3;
  border-bottom-color: #951c1f;
  font-size: 28px;

  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-powermenu:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

