/* Summer night style for Waybar */

* {
  font-family: Liberation Mono, FontAwesome;
  font-weight: bold;
}

tooltip {
  padding: 16px;
  border-radius: 15px;
  background-color:#2D353B;
  border-width: 0 0 5px 0;
  border-color: #161A1D;
  border-style: solid;
  text-shadow: none;
}

tooltip * {
  color: #D3C6AA;
  font-size: 12px;
}

window#waybar {
  background-color: #d3c6aa;
  color: #2d353b;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0px 0px 15px 15px;
  font-size: 16px;

  border-bottom-width: 5px;
  border-bottom-color: #7d6a40;
  border-bottom-style: solid;
}

#tray {
  color: #d3c6aa;
  margin-top: 2px;
  margin-right: 4px;
}

#power-profiles-daemon {
  min-width: 24px;
}

#power-profiles-daemon.power-saver {
  color: #a7c080;
}

#power-profiles-daemon.performance {
  color: #dbbc7f;
}

#custom-launcher,
#clock,
#workspaces,
#pulseaudio,
#network,
#backlight,
#battery,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#idle_inhibitor,
#power-profiles-daemon,
#temperature,
#tray,
#trayicons {
  background-color: #2d353b;
  color: #d3c6aa;

  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
	border-radius: 10px;

  border-bottom-width: 5px;
  border-bottom-color: #161a1d;
  border-bottom-style: solid;
}

#custom-launcher:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#backlight:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#custom-notificationcenter:hover,
#custom-powermenu:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#temperature:hover,
/* #tray:hover, */
#trayicons:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

#pulseaudio.muted {
  color: #e67e80;
}

#workspaces {
  padding: 0;
  background: none;
  border: none;
}

#workspaces button {
  background: #2d353b;
  color: #d3c6aa;
  border-radius: 0;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #161a1d;
  transition: none;
  box-shadow: none;
}

#workspaces button:hover {
  background: #3d474e;
  text-shadow: none;
  margin-top: -2px;
  border-bottom-width: 7px;
  border-bottom-color: #252b2f;
}

#workspaces button.active {
  background-color: #7fbbb3;
  color: #2d353b;

	border-radius: 0;
  border-color: #366660;
}

#workspaces button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#custom-launcher {
  background-color: #a7c080;
  color: #2d353b;
  border-bottom-color: #556a35;

  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-launcher:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

#custom-launcher:active {
  background-color: #e67e80;
  margin-top:12px;
  border-bottom-width: 0;
}

#custom-powermenu {
  background-color: #e67e80;
  color: #2d353b;
  border-bottom-color: #951c1f;
  font-size: 28px;

  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-powermenu:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

