/* Everforest Light colors for Wlogout */

@define-color bg_dim #efebd4;
@define-color bg0 #fdf6e3;
@define-color bg1 #f4f0d9;
@define-color bg2 #efebd4;
@define-color bg3 #e6e2cc;
@define-color bg4 #e0dcc7;
@define-color bg5 #bdc3af;
@define-color bg_visual #eaedc8;
@define-color bg_red #fbe3da;
@define-color bg_green #f0f1d2;
@define-color bg_blue #e9f0e9;
@define-color bg_yellow #faedcd;
@define-color fg #5c6a72;
@define-color red #f85552;
@define-color orange #f57d26;
@define-color yellow #dfa000;
@define-color green #8da101;
@define-color aqua #35a77c;
@define-color blue #3a94c5;
@define-color purple #df69ba;
@define-color grey0 #a6b0a0;
@define-color grey1 #939f91;
@define-color grey2 #829181;

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.3);
}

button {
	margin: 64px 0;
	border-radius: 0;
    border: none;
	text-decoration-color: @fg;

	color: @fg;
	background-color: @bg3;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15%;

	border-color: @bg5;
	border-style: solid;
	border-width: 0 0 8px 0;
}

button:first-child {
	border-radius: 64px 0 0 64px;
}

button:last-child {
	border-radius: 0 64px 64px 0;
}

button:hover {
	margin: 0;
	border-radius: 64px;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
	/* background-size: 20%; */ /* Too laggy with a SVG */
}

button:focus, button:active {
	outline: 3px solid @fg;
}

#logout {
    background-image: image(url("/usr/share/wlogout/assets/logout.svg"), url("/usr/local/share/wlogout/assets/logout.svg"));
}

#logout:hover {
	background-color: @green;
	/* box-shadow: 0 0 8px @green; */
	border-color: @grey2;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/assets/suspend.svg"), url("/usr/local/share/wlogout/assets/suspend.svg"));
}

#suspend:hover {
	background-color: @blue;
	/* box-shadow: 0 0 8px @blue; */
	border-color: @grey2;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/assets/shutdown.svg"), url("/usr/local/share/wlogout/assets/shutdown.svg"));
}

#shutdown:hover {
	background-color: @red;
	/* box-shadow: 0 0 8px @red; */
	border-color: @grey2;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/assets/reboot.svg"), url("/usr/local/share/wlogout/assets/reboot.svg"));
}

#reboot:hover {
	background-color: @yellow;
	/* box-shadow: 0 0 8px @yellow; */
	border-color: @grey2;
}
