- name: ansible-main
  hosts: localhost
  become: false
  vars:
    # The presence of the XDG_SESSION_DESKTOP env var seems to be the strongest way to determine if we are in a GUI
    is_desktop: "{{ True if lookup('ansible.builtin.env', 'XDG_SESSION_DESKTOP') else False }}"

  tasks:
    - name: Show the environment
      debug:
        msg:
          - "is desktop: {{ is_desktop }}"
          - "distribution: {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}"
          - "user: {{ ansible_facts['user_id'] }}"

    - name: Fedora CLI
      include_role:
        name: fedora-cli
      when: ansible_facts['distribution'] == "Fedora" and not is_desktop

    - name: Fedora desktop
      include_role:
        name: fedora-desktop
      when: ansible_facts['distribution'] == "Fedora" and is_desktop

    - name: Ubuntu CLI
      include_role:
        name: ubuntu-cli
      when: ansible_facts['distribution'] == "Ubuntu" and not is_desktop

    - name: Ubuntu desktop
      include_role:
        name: ubuntu-desktop
      when: ansible_facts['distribution'] == "Ubuntu" and is_desktop

    - name: openSUSE CLI
      include_role:
        name: opensuse-cli
      when: ansible_facts['distribution'] == "openSUSE Tumbleweed" and not is_desktop

    - name: openSUSE desktop
      include_role:
        name: opensuse-desktop
      when: ansible_facts['distribution'] == "openSUSE Tumbleweed" and is_desktop
