/* Everforest Light style for Wofi */

@import ".config/mydesktop/current-theme/wofi/colors.css";

* {
    font-family: Liberation Sans, FontAwesome;
    font-size: 17px;
    border-radius: 10px;
    border: none;
}

window {
    margin: 0px;
    background-color: @fg;
    color: @bg0;

	border-radius: 15px;

    border-bottom-width: 5px;
    border-bottom-color: #2e3538;
    border-bottom-style: solid;
}

#input > image.left {
    /* -gtk-icon-transform:scaleX(0); */
}

#outer-box {
    margin: 0px;
    border-radius: 0px;
    padding-bottom: 5px;
}

/* entry containing the search bar */
#input {
    background-color: @green;
    color: @bg0;

    margin: 15px;
    padding: 10px;
    border: none;

    border-bottom-width: 5px;
    border-bottom-color: #465000;
    border-bottom-style: solid;
    box-shadow: none;
}

/* image showing a magnifying glass (as a text, not an actual image) */
#input image {
    margin-right: 10px;
    color: @bg0;
}

/* scrolledwindow containing the #inner-box */
#scroll {
    width: 128px;
    margin: 0px;
    padding: 0px;
    border: none;
}

/* flowbox containing the list of entries */
#inner-box {
    margin: 20px;
    padding: 0px;
    border-radius: 0px;
    background-color: #00000000;
}


#text {
    margin-left: 15px;
    margin-right: 15px;
}

#entry {
    border: none;
    padding: 4px;
    margin: 0px;
}

#entry:selected {
    background-color: @bg0;
    color: @fg;
    outline: none;

    border-bottom-width: 5px;
    border-bottom-color: @bg5;
    border-bottom-style: solid;
}

#entry:selected #text {
    color: @fg;
}
