/* Everforest Light style for Waybar */

@import "./colors.css";

* {
  font-family: Liberation Mono, FontAwesome;
  font-size: 16px;
  font-weight: bold;
}

tooltip {
  padding: 8px;
  border-radius: 15px;
  background-color: @bg0;
  border: 3px solid @fg;
}

window#waybar {
  background-color: @fg;
  color: @bg0;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 0px 0px 15px 15px;

  border-bottom-width: 5px;
  border-bottom-color: #2e3538;
  border-bottom-style: solid;
}

#tray {
  color: @fg;
  margin-top: 2px;
  margin-right: 4px;
}

#power-profiles-daemon {
  min-width: 24px;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#custom-launcher,
#clock,
#workspaces,
#pulseaudio,
#network,
#battery,
#cpu,
#memory,
#custom-notificationcenter,
#custom-powermenu,
#idle_inhibitor,
#power-profiles-daemon,
#trayicons {
  background-color: @bg0;
  color: @fg;

  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 12px;
	border-radius: 10px;

  border-bottom-width: 5px;
  border-bottom-color: @bg5;
  border-bottom-style: solid;
}

#custom-launcher:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#custom-notificationcenter:hover,
#custom-powermenu:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#trayicons:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

#pulseaudio.muted {
  color: @red;
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  background: none;
  color: @fg;
  border-radius: 0;
  margin-bottom: 0px;
  border-width: 0 0 5px 0;
  transition: none;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: none;
}

#workspaces button.active {
  background-color: @blue;
  color: @bg0;

	border-radius: 0;

  margin-bottom: -5px;

  border-bottom-width: 5px;
  border-bottom-color: #1c4a62;
  border-bottom-style: solid;
  border-left-width: 0px;
  border-left-color: #366660;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-color: #366660;
  border-right-style: solid;
}

#workspaces button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#custom-launcher {
  background-color: @green;
  color: @bg0;
  border-bottom-color: #465000;

  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-launcher:hover {
  /* background-color: @green; */
  margin-top: 5px;
  border-bottom-width: 7px;
}

#custom-launcher:active {
  background-color: @red;
  margin-top:12px;
  border-bottom-width: 0;
}

#custom-powermenu {
  background-color: @red;
  color: @bg0;
  border-bottom-color: #951c1f;
  font-size: 28px;

  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-powermenu:hover {
  margin-top: 5px;
  border-bottom-width: 7px;
}

